body {
    background-color: #007BFF !important;
}

.jumbotron {
    background-color: #007BFF !important;
    color: white !important;
    text-align: center !important;
}

.auth {
    background-color: #fcfcfc;
    padding: 5px;
    border-radius: 25px;
}