<html>

<head>
    <title>MitCircs</title>
    <!-- Page Specific CSS -->
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Ajax Import -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Importing Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="/static/authentication.js"></script>
</head>

<body>
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="/dashboard">MitCircs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                {% if account == "student" %}
                <li class="nav-item">
                    <a class="nav-link" href="/submit_request">Submit Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manage_requests">Manage Requests</a>
                </li>
                {% elif account == "instructor" %}
                <li class="nav-item">
                    <a class="nav-link" href="/manage_requests">Manage Requests</a>
                </li>
                {% elif account == "admin" %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin_panel">Admin Panel</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/settings">Settings</a>
                </li>
                <li class="nav-item">
                    <a id="signOut" class="nav-link sign-out" href="#">Sign Out</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <h1 class="display-5">Manage Requests</h1>
            {% if requests %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Reason</th>
                            <th scope="col">Instructor</th>
                            <th scope="col">Description</th>
                            <th scope="col">Supporting File</th>
                            <th scope="col">Status</th>
                            <th scope="col">Request Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in requests %}
                        <tr>
                            <td>{{ request.uuid }}</td>
                            <td>{{ request.name }}</td>
                            <td>{{ request.reason }}</td>
                            <td>{{ request.instructor }}</td>
                            <td>{{ request.description }}</td>
                            <td><a class="btn btn-info" href="/serve/{{ request.file_key }}" role="button">Download
                                    File</a></td>
                            {% if request.status == "Awaiting Review" %}
                            <td><span class="badge badge-secondary">Awaiting Review</span></td>
                            {% elif request.status == "Info Required" %}
                            <td><span class="badge badge-warning">More Info Required</span></td>
                            {% elif request.status == "Declined" %}
                            <td><span class="badge badge-danger">Declined</span></td>
                            {% elif request.status == "Approved" %}
                            <td><span class="badge badge-success">Approved</span></td>
                            {% endif %}
                            {% if account == "student" %}
                            {% if request.status == "Info Required" %}
                            <form action="/view_request" method="POST" enctype="multipart/form-data">
                                <input type="hidden" name="action" value="update_request">
                                <input type=hidden name="request_id" value={{ request.uuid }}>
                                <td><button type="submit" class="btn btn-warning">Provide Requested Info</button></td>
                            </form>
                            {% endif %}
                            {% elif account == "instructor" %}
                            <form action="/update_request" method="POST" enctype="multipart/form-data">
                                <input type=hidden name="action" value="accept_request">
                                <input type=hidden name="request_id" value={{ request.uuid }}>
                                <td><button type="submit" class="btn btn-success">Accept Request</button></td>
                            </form>
                            <form action="/update_request" method="POST" enctype="multipart/form-data">
                                <input type=hidden name="action" value="decline_request">
                                <input type=hidden name="request_id" value={{ request.uuid }}>
                                <td><button type="submit" class="btn btn-danger">Decline Request</button></td>
                            </form>
                            <form action="/request_info" method="POST" enctype="multipart/form-data">
                                <input type=hidden name="request_id" value={{ request.uuid }}>
                                <td><button type="submit" class="btn btn-warning">Request Info</button></td>
                            </form>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <h2>You have not made any requests.</h2>
            {% endif %}
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>