<html>

<head>
    <title>MitCircs</title>
    <!-- Page Specific CSS -->
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Ajax Import -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Importing Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="/dashboard">MitCircs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                {% if account == "student" %}
                <li class="nav-item">
                    <a class="nav-link" href="/submit_request">Submit Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manage_requests">Manage Requests</a>
                </li>
                {% elif account == "instructor" %}
                <li class="nav-item">
                    <a class="nav-link" href="/manage_requests">Manage Requests</a>
                </li>
                {% elif account == "admin" %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin_panel">Admin Panel</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/settings">Settings</a>
                </li>
                <li class="nav-item">
                    <a id="signOut" class="nav-link sign-out" href="#">Sign Out</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="display-5">Submit Request</h1>
            <h3>Fill out the form below to submit your request:</h3>
            <form action="{{ submitHandler }}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" name="email" value="{{user}}" readonly>
                </div>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" name="name" aria-describedby="nameHelp" value="{{name}}">
                    <small id="nameHelp" class="form-text text-muted">Your email address or name may be in the above
                        field due to the data available from Google. Please ensure your name is typed into the field.</small>
                </div>
                <div class="form-group">
                    <label for="reason">Reason for mitigating circumstance:</label>
                    <select class="form-control" name="reason">
                        <option>Illness</option>
                        <option>Family difficulties</option>
                        <option>Bereavement</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="instructor">Course instructor:</label>
                    <select class="form-control" name="instructor">
                        <option>i7437871@bournemouth.ac.uk</option>
                        {% if instructors %}
                        {% for instructor in instructors %}
                        <option>{{ instructor.id }}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" name="description" rows="5" required></textarea>
                </div>
                <div class="form-group">
                    <label for="file">Supporting documents:</label>
                    <input type="file" class="form-control-file" name="file" aria-describedby="fileHelp" required>
                    <small id="fileHelp" class="form-text text-muted">Accepted file formats: doc, docx, pdf, jpg and
                        jpeg. Any other files will not be accepted.</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>